// Input/output Parameters
params.input_path = "/home/bq_mbortolomeazzi/RESOLVE_tools/small"
params.output_path = "output/nextflow_test"

// Segmentation Parameters
params.model_name = "cyto"
params.probability_threshold = 0.5
params.cell_diameter = 70
params.do_zip =	true // Set to false to skip making ImageJ ROIs (faster)
// Output
params.output_path = "output/nextflow_test"
