singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "singularity/containers"
singularity.runOptions = "--bind /var/lib:/var/lib --bind /Volumes:/Volumes"

executor.jobName = { "$task.tag" }

profiles {
    standard {
	        process.executor = "local"
    }
    cluster {
        process.executor='pbs'
        process.clusterOptions='-V'
    }
}
